@mixin middleCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9
}

@mixin round {
  border-radius: 50%;
}

@function setBg($img) {
  @return "../../images/" + $img
}

$foorShadow: 0 18px 38px -4px rgba(21, 21, 21, 0.18);

.pageLogin {
  font-size: 14px;
  width: 100%;
  height: 100%;
  background: #eceffb;
  overflow: hidden;
  
  .loginBox {
    @include middleCenter;
    width: 880px;
    height: 460px;
    padding: 40px 46px 0 570px;
    background-color: #fff;
    margin: -280px 0 0 -440px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: $foorShadow;
    animation: bounceInDown .3s .3s both;
    background: #fff url(setBg("login_bg.jpg")) no-repeat left center;
    background-size: 524px 460px;

    .project {
      width: 524px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, .5);
      color: rgba(255, 255, 255, .6);
      font-size: 16px;
      text-align: center;
      padding-top: 420px;
    }
  }

  .input {
    margin-bottom: 20px;
    position: relative;
    transition: border .6s;

    &:after {
      content: "";
      display: block;
      height: 0;
      width: 0;
      border-bottom:1px solid #57ACEF;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: width .3s ease;
    }

    &.focus {
      input {
        border-bottom-color: transparent;
      }

      &:after {
        width: 100%;
      }
    }
    
    &.vcode {
      input {
        width: 60%;
      }

      img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }

      &.focus {
        &:after {
          width: 60%;
        }
    }
      
    }


    &.pre-icon {
      input {
        padding-left: 46px;
      }

      i {
        height: 42px;
        width: 42px;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        text-align: center;
        line-height: 42px;
        font-size: 20px;
        color: #999;
        
        &.user:after {
          content: "\e656"
        }

        &.pswd:after {
          content: "\e655"
        }
      }
    }

  }

  input {
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
  }

  .btn-wrap {
    text-align: center;
    margin-top: 50px;
    
    button {
      background-color: #4885FF;
      border: none;
      color: #fff;
      display: inline-block;
      width: 100%;
      height: 48px;
      line-height: 48px;
      border-radius: 24px;
      font-size: 16px;
      outline: none;
      transition: all .3s;
      box-shadow: 0 12px 23px -4px rgba(72, 133, 255, 0.42);
      &:hover {
        background-color: #57ACEF;
        box-shadow: 0 16px 24px -4px rgba(87, 172, 239, 0.52);
      }
    }
  }

  .loginBox {
    .avatar {
      @include round;
      width: 80px;
      height: 80px;
      margin: 0 auto 20px;
      background-color: #fff;
      overflow: hidden;
      // background: url(setBg("avatar.png")) no-repeat center center / 100% auto;
      
      img {
        @include round;
        display: block;
        height: 100%;
        width: 100%;
        box-shadow: 0 3px 12px rgba(73, 89, 238, 0.16);
      }
    }
  }
}










